{% extends 'design.html' %}
{% load static %}

{% block title1 %}About Us{% endblock %}
{% block title2 %}About Us{% endblock %}
{% block content %}
<div class="m-1 p-1 m-md-5 p-md-5 text-justify">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 align-self-center">
                <div class="about-us-img-wrap about-img-left">
                    <img src="{% static 'assets/6.png' %}" alt="About Us Image">
                </div>
            </div>
            <div class="col-lg-6 align-self-center">
                <div class="about-us-info-wrap">
                    <div class="section-title-area ltn__section-title-2">
                        <h6 class="section-subtitle ltn__secondary-color">Know More About Shop</h6>
                        <h1 class="section-title">Store For <br class="d-none d-md-block"> Know Plants</h1>
                        <p>Podhewale.com</p>
                    </div>
                    <p>Adopt a plant rebirth the Earth</p>
                    Your own "Podhewale.com" is a horticulture e-commerce platform which enables you to nurture the Nature within the available resources. The website includes the offers and products related to the Plants which can be useful for anyone to get connected with the Nature and we will make our best to provide you the required resources for the same.</p>
                    <div class="about-author-info d-flex">
                        <div class="author-name-designation  align-self-center">
                            <h4 class="mb-0">Gagan Punia</h4>
                            <small>/ Founder</small>
                        </div>
                        <div class="author-sign">
                            <img src="{% static 'img/icons/icon-img/21.png' %}" alt="#">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <!-- FEATURE AREA START ( Feature - 6) -->
    <div class="ltn__feature-area section-bg-1 pt-115 pb-90">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="section-title-area ltn__section-title-2 text-center">
                        <h6 class="section-subtitle ltn__secondary-color">//  features  //</h6>
                        <h1 class="section-title">Why Choose Us<span>.</span></h1>
                    </div>
                </div>
            </div>
            <div class="row justify-content-center">
                <div class="col-lg-4 col-sm-6 col-12">
                    <div class="ltn__feature-item ltn__feature-item-7">
                        <div class="ltn__feature-icon-title">
                            <div class="ltn__feature-icon">
                                <span><img src="{% static 'img/icons/icon-img/13.png' %}" alt="#"></span>
                            </div>
                            <h3><a href="service-details.html"> UltraBreed(TM) Plants</a></h3>
                        </div>
                        <div class="ltn__feature-info">
                            <p>"Elevate Your Garden with UltraBreed(TM) Plants. Where Beauty and Health Meet!"
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-sm-6 col-12">
                    <div class="ltn__feature-item ltn__feature-item-7">
                        <div class="ltn__feature-icon-title">
                            <div class="ltn__feature-icon">
                                <span><img src="{% static 'img/icons/icon-img/12.png' %}" alt="#"></span>
                            </div>
                            <h3><a href="service-details.html">Ready-To-Plant</a></h3>
                        </div>
                        <div class="ltn__feature-info">
                            <p>Plants Are Already Mature And Well-Established, Ready To Add Instant Beauty To Any Home Or Living Space. There's No Need To Wait For Them To Grow or Flourish".</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-sm-6 col-12">
                    <div class="ltn__feature-item ltn__feature-item-7">
                        <div class="ltn__feature-icon-title">
                            <div class="ltn__feature-icon">
                                <span><img src="{% static 'img/icons/icon-img/Potting Mix.png' %}" alt="#"></span>
                            </div>
                            <h3><a href="service-details.html">World-Class Potting</a></h3>
                        </div>
                        <div class="ltn__feature-info">
                            <p>Unleash your garden's potential with our World-Class potting mix.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- FEATURE AREA END -->

    <!-- TEAM AREA START (Team - 3) -->
    <div class="ltn__team-area pt-115 pb-90">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="section-title-area ltn__section-title-2 text-center">
                        <h1 class="section-title white-color---">Team Member</h1>
                    </div>
                </div>
            </div>
            <div class="row justify-content-center">
                <div class="col-xl-3 col-lg-4 col-sm-6">
                    <div class="ltn__team-item">
                        <div class="team-img">
                            <img src="{% static 'assets/11.jpg' %}" alt="Image">
                        </div>
                        <div class="team-info">
                            <h6 class="ltn__secondary-color">// Founder & CEO //</h6>
                            <h4><a href="team-details.html">Gagan Punia</a></h4>
                            <div class="ltn__social-media">
                                <ul>
                                    <a href="mailto:gaganpuniagroup@gmail.com">
                                        <button type="button">g</button>
                                      </a>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-xl-3 col-lg-4 col-sm-6">
                    <div class="ltn__team-item">
                        <div class="team-img">
                            <img src="{% static 'assets/12.jpg' %}" alt="Image">
                        </div>
                        <div class="team-info">
                            <h6 class="ltn__secondary-color">// Chairman //</h6>
                            <h4><a href="team-details.html">Khushhal Aggarwal</a></h4>
                            <div class="ltn__social-media">
                                <ul>
                                    <a href="mailto:khushhalaggarwal@gmail.com">
                                        <button type="button">g</button>
                                      </a>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-xl-3 col-lg-4 col-sm-6">
                    <div class="ltn__team-item">
                        <div class="team-img">
                            <img src="{% static 'assets/15.jpg' %}" alt="Image">
                        </div>
                        <div class="team-info">
                            <h6 class="ltn__secondary-color">//  CBO  //</h6>
                            <h4><a href="team-details.html">Rajat Kumar</a></h4>
                            <div class="ltn__social-media">
                                <ul>
                                    <a href="mailto:rajat.cipl@gmail.com">
                                        <button type="button">g</button>
                                      </a>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-xl-3 col-lg-4 col-sm-6">
                    <div class="ltn__team-item">
                        <div class="team-img">
                            <img src="{% static 'assets/16.jpg' %}" alt="Image">
                        </div>
                        <div class="team-info">
                            <h6 class="ltn__secondary-color">//  CIO  //</h6>
                            <h4><a href="team-details.html">Vipul Abrol</a></h4>
                            <div class="ltn__social-media">
                                <ul>
                                    <a href="mailto:vipulabrol@gmail.com">
                                        <button type="button">g</button></h4>
                                      </a>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-xl-3 col-lg-4 col-sm-6">
                    <div class="ltn__team-item">
                        <div class="team-img">
                            <img src="{% static 'assets/18.jpg' %}" alt="Image">
                        </div>
                        <div class="team-info">
                            <h6 class="ltn__secondary-color">// CLO  //</h6>
                            <h4><a href="team-details.html">Himanshu Gupta</a></h4>
                            <div class="ltn__social-media">
                                <ul>
                                    <a href="mailto:guptahimanshuadv@gmail.com">
                                        <button type="button">g</button>
                                      </a>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
    <!-- TEAM AREA END -->

    <!-- TESTIMONIAL AREA START (testimonial-4) -->
    <div class="ltn__testimonial-area section-bg-1 pt-115 pb-70">
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-12">
                    <div class="section-title-area ltn__section-title-2 text-center">
                        <h6 class="section-subtitle ltn__secondary-color">//  Testimonials</h6>
                        <h1 class="section-title">Customer Reviews</span></h1>
                    </div>
                </div>
            </div>
            <div class="row ltn__testimonial-slider-3-active slick-arrow-1 slick-arrow-1-inner">
                <div class="col-lg-12">
                    <div class="ltn__testimonial-item ltn__testimonial-item-4">
                        <div class="ltn__testimoni-img">
                            <img src="{% static 'assets/1.jpg' %}" alt="#">
                        </div>
                        <div class="ltn__testimoni-info">
                            <p>Personally i am satisfied with flora including service provided by podhewale, i would recommend to visit site and make order.
 </p>
                            <h4>Sahil Verma</h4>
                            <h6>customer</h6>
                        </div>
                        <div class="ltn__testimoni-bg-icon">
                            <i class="far fa-comments"></i>
                        </div>
                    </div>
                </div>
                <div class="col-lg-12">
                    <div class="ltn__testimonial-item ltn__testimonial-item-4">
                        <div class="ltn__testimoni-img">
                            <img src="{% static 'assets/2.jpg' %}" alt="#">
                        </div>
                        <div class="ltn__testimoni-info">
                            <p>Plants with good service, good health and price, one of the best gardening website. </p>
                            <h4>Khushhal Aggarwal</h4>
                            <h6>customer</h6>
                        </div>
                        <div class="ltn__testimoni-bg-icon">
                            <i class="far fa-comments"></i>
                        </div>
                    </div>
                </div>
                <div class="col-lg-12">
                    <div class="ltn__testimonial-item ltn__testimonial-item-4">
                        <div class="ltn__testimoni-img">
                            <img src="{% static 'assets/4.jpg' %}" alt="#">
                        </div>
                        <div class="ltn__testimoni-info">
                            <p>Best healthy plants in very cheap price. </p>
                            <h4>Dinesh Rathore</h4>
                            <h6>Customer</h6>
                        </div>
                        <div class="ltn__testimoni-bg-icon">
                            <i class="far fa-comments"></i>
                        </div>
                    </div>
                </div>
                <div class="col-lg-12">
                    <div class="ltn__testimonial-item ltn__testimonial-item-4">
                        <div class="ltn__testimoni-img">
                            <img src="{% static 'assets/3.jpg' %}" alt="#">
                        </div>
                        <div class="ltn__testimoni-info">
                            <p>The quality is excellent I received free shipping. It's well worth the money for their high quality products. HIGHLY RECOMMEND!!!!. </p>
                            <h4>Radha</h4>
                            <h6>customer</h6>
                        </div>
                        <div class="ltn__testimoni-bg-icon">
                            <i class="far fa-comments"></i>
                        </div>
                    </div>
                </div>
                <div class="col-lg-12">
                    <div class="ltn__testimonial-item ltn__testimonial-item-4">
                        <div class="ltn__testimoni-img">
                            <img src="{% static 'assets/5.jpg' %}" alt="#">
                        </div>
                        <div class="ltn__testimoni-info">
                            <p>Excellent Plants with Very good price </p>
                            <h4>Sunil Kumar</h4>
                            <h6>customer</h6>
                        </div>
                        <div class="ltn__testimoni-bg-icon">
                            <i class="far fa-comments"></i>
                        </div>
                    </div>
                </div>
                <!--  -->
            </div>
        </div>
    </div>
    <!-- TESTIMONIAL AREA END -->

    <!-- FAQ AREA START (faq-2) (ID > accordion_2) -->
    <div class="ltn__faq-area pt-115 pb-120">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="section-title-area ltn__section-title-2 text-center">
                        <h1 class="section-title white-color---">May I Help!</h1>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-6">
                    <div class="ltn__faq-inner ltn__faq-inner-2">
                        <div id="accordion_2">
                            <!-- card -->
                            <div class="card">
                                <h6 class="collapsed ltn__card-title" data-toggle="collapse" data-target="#faq-item-2-1" aria-expanded="false">
                                    How to buy a product?
                                </h6>
                                <div id="faq-item-2-1" class="collapse" data-parent="#accordion_2">
                                    <div class="card-body">
                                        <p>Customers easly buy products with few easy steps </p>
1. Make an account at Podhewale and enter the details</p> 
2. Product add to cart and use address where you want the product deliver</p>
3. Last step is payment you can choose any kind of payment and your product is purchased.  </p>
                                    </div>
                                </div>
                            </div>
                            <!-- card -->
                            <div class="card">
                                <h6 class="ltn__card-title" data-toggle="collapse" data-target="#faq-item-2-2" aria-expanded="true"> 
                                    How can i make refund from your website?
                                </h6>
                                <div id="faq-item-2-2" class="collapse show" data-parent="#accordion_2">
                                    <div class="card-body">
                                        <div class="ltn__video-img alignleft">
                                           
                                            
                                            </a>
                                        </div>
                                    <p>Refund request:</p>
                                    Please note that Refund will initiate in some cases may occur due to factors beyond our control, such as weather conditions, carrier disruptions, or high order volumes or out of stocks etc.</p>
                                    If you have canceled the product and the seller accepts your cancelation or any product is not in stock and customer has purchased or any other reason, 
                                    it we will initiate return within couple of days and the refund would be reflected back to the original payment method within 2 - 8 business days.

                                </p>
                                    </div>
                                </div>
                            </div>                          
                            <!-- card -->
                            <div class="card">
                                <h6 class="collapsed ltn__card-title" data-toggle="collapse" data-target="#faq-item-2-3" aria-expanded="false">
                                    I am a new user. How should I start?
                                </h6>
                                <div id="faq-item-2-3" class="collapse" data-parent="#accordion_2">
                                    <div class="card-body">
                                        <p>First Registered your email</div>
                                            <p>Enter you details name, email your email id and password</p>
                                             <p>You get activation and confirmation mail at your entered email id
                                                  click on activate my account</p>
                                                   <p>Sign in your entered same email and password</p>
                                                   <p>Product add to cart and enter your shipping address and do payment</p>
                                                     <p>Product will delivery at your doorstep with free delivery</p>
                                                      <p>We Currently Deliver Ready-to-Use plant</p>
                                             
                                </div>
                            </div>
                            <!-- card -->
                            <div class="card">
                                <h6 class="collapsed ltn__card-title" data-toggle="collapse" data-target="#faq-item-2-4" aria-expanded="false">
                                    Returns and refunds
                                </h6>
                                <div id="faq-item-2-4" class="collapse" data-parent="#accordion_2">
                                    <div class="card-body">
                                        <p>If you have canceled the product and the seller accepts your cancelation or any product is not in stock and customer has purchased or any other reason, 
                                            it we will initiate return within couple of days and the refund would be reflected back to the original payment method within 2 - 8 business days.</div>
                                            <div class="card-body">
                                            <p>Podhewale doesn’t provide any return or replacement policy for the product or services availed through the Podhewale.com. Further, podhewale will not maintain any claim in regard to return or replacement and if it is specifically mentioned by the seller, 
                                                then the seller will be himself liable to provide all the arrangements in relation to Return or Replacement of the products or services with all cost in the arrangement to be borned by the seller or the buyer as per their own agreements.
                                               Further, if any damages are found at delivery time, customer can call or mail or show delivery person for damaged product while taking delivery.
                                               If product damaged at delivery The Delivery Team Provide same product in 2-4 business days.</div>
                                </div>
                            </div>
                            <!-- card -->
                            <div class="card">
                                <h6 class="collapsed ltn__card-title" data-toggle="collapse" data-target="#faq-item-2-5" aria-expanded="false">
                                    Are my details secured?
                                </h6>
                                <div id="faq-item-2-5" class="collapse" data-parent="#accordion_2">
                                    <div class="card-body">
                                        <p><h4 class="my-2"><b>Privacy Policy</b></h4>
                                            Please review our Privacy Notice, which also governs your visit to Podhewale.com, to understand our practices.
                                            <h4 class="my-2"><b></b></h4> 
                                            The personal information / data provided to us by you during the course of usage of Podhewale.com will be used for further usage with other persons; as and when required and applicable laws and regulations.
                                            <h4 class="my-2"><b></b></h4> 
                                            If you object to your information being transferred or used, please do not use the website.
                                            <h4 class="my-2"><b></b></h4>
                                            We may update this Privacy Policy from time to time in order to reflect, for example, changes to our practices or for other operational, legal, or regulatory reasons.
                                            <h4 class="my-2"><b></b></h4>
                                            We retain your personal information only for as long as necessary to provide you with our services and as described in our Privacy Policy.
                                            <h4 class="my-2"><b></b></h4>
                                            However, we may also be required to retain this information to comply with our legal and regulatory obligations, to resolve disputes, and to enforce our agreements.</div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6">
                    <aside class="sidebar-area ltn__right-sidebar mt-60">
                        <!-- Banner Widget -->
                        <div class="widget ltn__banner-widget">
                            <a href="shop.html"><img src="{% static 'assets/1212.jpg' %}" alt="Banner Image"></a>
                        </div>
                    </aside>
                </div>
            </div>
        </div>
    </div>
    <!-- FAQ AREA END -->
    <!-- FEATURE AREA START ( Feature - 3) -->
    <div class="ltn__feature-area before-bg-bottom-2 mb--30--- plr--5">
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-12">
                    <div class="ltn__feature-item-box-wrap ltn__border-between-column white-bg">
                        <div class="row">
                            <div class="col-xl-3 col-md-6 col-12">
                                <div class="ltn__feature-item ltn__feature-item-8">
                                    <div class="ltn__feature-icon">
                                        <img src="{% static 'img/icons/icon-img/11.png' %}" alt="#">
                                    </div>
                                    <div class="ltn__feature-info">
                                        <h4>Curated Products</h4>
                                        <p>Provide Curated Products for
                                            all product</p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-xl-3 col-md-6 col-12">
                                <div class="ltn__feature-item ltn__feature-item-8">
                                    <div class="ltn__feature-icon">
                                        <img src="{% static 'img/icons/icon-img/12.png' %}" alt="#">
                                    </div>
                                    <div class="ltn__feature-info">
                                        <h4>Ready-To-Plant</h4>
                                        <p>Do not require any additional potting mix</p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-xl-3 col-md-6 col-12">
                                <div class="ltn__feature-item ltn__feature-item-8">
                                    <div class="ltn__feature-icon">
                                        <img src="{% static 'img/icons/icon-img/13.png' %}" alt="#">
                                    </div>
                                    <div class="ltn__feature-info">
                                        <h4>UltraBreed(TM) Plants</h4>
                                        <p>Improve the genetic potential of plants</p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-xl-3 col-md-6 col-12">
                                <div class="ltn__feature-item ltn__feature-item-8">
                                    <div class="ltn__feature-icon">
                                        <img src="{% static 'img/icons/icon-img/14.png' %}" alt="#">
                                    </div>
                                    <div class="ltn__feature-info">
                                        <h4>Free home delivery</h4>
                                        <p>At your doorstep,            
                                            Deliver in 2-4 days</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- FEATURE AREA END -->

</div>

{% endblock content %}




