{% extends 'design.html' %}
{% block title1 %}Cancellations{% endblock %}
{% block title2 %}Cancellations{% endblock %}

{% block content %}
<div class="m-1 p-1 m-md-5 p-md-5 text-justify">
    <h4 class="my-2"><b>Cancellation Policy</b></h4>
    The order must be cancelled within 2 hours or shipment or dispatch of the product whichever is earlier for being eligible to be cancelled and refund of the eligible amounts.
<h4 class="my-2"><b></b></h4>
The Customer may be charged any cancellation fee or charges for the cancellation on the basis of each independent product or for any class or category.
{% endblock content %}





