<div class="footer">
    <div class="container">
        <div class="row m-auto">
            <div class="col-6">
                <div class="row">
                    <div class="col-12 col-md-6 col-lg-6 lh-lg mt-3">
                    <b class="fs-6">Customer Care:</b><br/>
                        Phone: 9911554948<br/>
                        WhatsApp: 9911554948<br/>
                        Email:podhewale@gmail.com                        
                    </div>
                    <div class="col-12 col-md-6 col-lg-6 lh-lg mt-3">
                        <b class="fs-6">Registered Office Address:</b><br/>
                        SS Trading owned and maintain by Gagan Punia Group<br/>
                        C-1/138 gali no.6 Near Mandoli jail complex, Harsh Vihar,<br/>
                        East Delhi - 110093
                    </div>
                    
                </div>
            </div>
            <div class="col-6">
                <div class="row">
                    <div class="col-12 col-md-6 col-lg-3 mt-3">
                        <a href="/">Shop</a>
                        <a href="/">Home</a>
                        <a href="{% url 'help' %}">Help</a>
                        <a href="{% url 'terms' %}">Terms/Conditions</a>
                        <a href="{% url 'refundpolicy' %}">Refund Policy</a>
                        <a href="{% url 'cancellations' %}">Cancellation Policy</a>
                        <a href="{% url 'returnpolicy' %}">Return Policy</a>
                    </div>
                    <div class="col-12 col-md-6 col-lg-3 mt-3">
                        <a href="{% url 'aboutus' %}">About Us</a>
                        <a href="{% url 'contactus' %}">Contact Us</a>
                        <a href="{% url 'careers' %}">Careers</a>
                        <a href="{% url 'faqs' %}">FAQs</a>
                        <a href="{% url 'shippingpolicy' %}">Shipping</a>
                        <a href="{% url 'payments' %}">Payments</a>
                        <a href="{% url 'press' %}">Press</a>
                    </div>
                    <div class="col-12 col-md-6 col-lg-3 mt-3">
                        <a href="">FaceBook</a>
                        <a href="">Instagram</a>
                        <a href="https://api.whatsapp.com/send?phone=9911554948">WhatsApp</a>
                        <a href="https://twitter.com/podhewale_com">Twitter</a>
                        <a href="">Pinterest</a>
                        <a href="">YouTube</a>
                        <a href="">Quora</a>
                    </div>
                    <div class="col-12 col-md-6 col-lg-3 mt-3">
                        <a href="{% url 'vendor:signup' %}">Become a Seller</a>
                        <a href="{% url 'vendor:login' %}">Seller Login</a>
                        <a href="{% url 'affiliate' %}">Become an Affiliate</a>
                        <a href="{% url 'vendorfaqs' %}">Vendor FAQs</a>
                        <a href="{% url 'vendorassistance' %}">Vendor Assistance</a>
                        <a href="{% url 'payouts' %}">Payouts</a>
                                                
                    </div>
                </div>
                
            </div>

        </div>        
    </div>  

<hr>
<p class="text-center m-1">&copy;2022 Gagan Punia Group</p>
 
   {% comment %} <p class="fs-xsmall text-center">Designed & Developed by<a href="http://mashbox.in" class="text-light d-inline opacity-100"> Mashbox.in</a></p> {% endcomment %}
</div>

