{% extends 'design.html' %}
{% block title1 %}Privacy Policy{% endblock %}
{% block title2 %}Privacy Policy{% endblock %}
{% block content %}
<div class="m-1 p-1 m-md-5 p-md-5 text-justify">
    <h4 class="my-2"><b>Privacy Policy</b></h4>
    Please review our Privacy Notice, which also governs your visit to Podhewale.com, to understand our practices.
    <h4 class="my-2"><b></b></h4> 
    The personal information / data provided to us by you during the course of usage of Podhewale.com will be used for further usage with other persons; as and when required and applicable laws and regulations.
    <h4 class="my-2"><b></b></h4> 
    If you object to your information being transferred or used, please do not use the website.
    <h4 class="my-2"><b></b></h4>
    We may update this Privacy Policy from time to time in order to reflect, for example, changes to our practices or for other operational, legal, or regulatory reasons.
    <h4 class="my-2"><b></b></h4>
    We retain your personal information only for as long as necessary to provide you with our services and as described in our Privacy Policy.
    <h4 class="my-2"><b></b></h4>
    However, we may also be required to retain this information to comply with our legal and regulatory obligations, to resolve disputes, and to enforce our agreements.
{% endblock content %}





