{% extends 'design.html' %}

{% block title1 %}Refund Policy{% endblock %}
{% block title2 %}Refund Policy{% endblock %}

{% block content %}
<div class="m-1 p-1 m-md-5 p-md-5 text-justify"><h4 class="fw-bold">Refund Policy</h4>
    <p>If you have canceled the product and the seller accepts your cancelation or any product is not in stock and customer has purchased or any other reason, it we will initiate return within couple of days and the refund would be reflected back to the original payment method within 2 - 8 business days.</p>
    
    </div>
{% endblock content %}





