{% extends 'design.html' %}
{% block title1 %}Return Policy{% endblock %}
{% block title2 %}Return Policy{% endblock %}

{% block content %}
<div class="m-1 p-1 m-md-5 p-md-5 text-justify"><h4 class="fw-bold">Return Policy</h4>
<p>Podhewale doesn’t provide any return or replacement policy for the product or services availed 
    through the Podhewale.com. Further, podhewale will not maintain any claim in regard to return or 
    replacement and if it is specifically mentioned by the seller, then the seller will be himself liable 
    to provide all the arrangements in relation to Return or Replacement of the products or services with all cost 
    in the arrangement to be borned by the seller or the buyer as per their own agreements.</p>

    <h5 class="my-2"><b>Further, if any damages are found at delivery time, customer can call or mail or show delivery person for damaged product while taking delivery.</b></h5>
    <p>If product damaged at delivery The Delivery Team Provide same product in 2-4 business days.</p>
{% endblock content %}





