{% extends 'design.html' %}
{% block title1 %}Shipping Policy{% endblock %}
{% block title2 %}Shipping Policy{% endblock %}

{% block content %}
<div class="m-1 p-1 m-md-5 p-md-5 text-justify">

<h4 class="my-2"><b>Delivery Process</b></h4>
Product or item will be delivered within 2 - 4 business days.

<h4 class="my-2"><b></b></h4>
The Delivery must be done by the Sellers generally.

<h4 class="my-2"><b></b></h4>
We send the product to you only after checking with our experts.
<h4 class="my-2"><b></b></h4>
The Delivery may be charged any delivery fee or charge which will be independent and separate from the product cost and will be charged for each product separately independent from any specific basis or method.

<h4 class="my-2"><b>Delivery Address</b></h4>
Please ensure that the shipping address provided during checkout is accurate and complete. We are not responsible for any delays or non-delivery due to incorrect or incomplete addresses.

<h4 class="my-2"><b>Shipping Delays</b></h4>
While we strive to ensure prompt delivery of your orders, please note that shipping delays may occur due to factors beyond our control, such as weather conditions, carrier disruptions, or high order volumes.

 {% endblock content %}





