{% extends 'design.html' %}
{% load static %}
{% load imagekit %}
{% load csswidgets %}


{% block content %}

<div class="container">
    <div class="row m-auto">
        <div class="col-1 col-md col-lg"></div>
        <div class="col-10 col-lg-8 p-0 my-5 bg-light">
            <div class="row rounded shdw3 m-0 lback4 bg-light imghidesm">
                <div class="col-5 p-0 rounded-start">
                    <!-- <img src="{% static 'assets/leaves.jpg' %}" class="img-fluid rounded-start" alt=""> -->
                </div>
                <div class="col-12 col-md-7 col-lg-7 align-self-center">
                    <span
                        class="fw-bold rounded-top text-black px-4 py-3 fw-bolder d-block h4 border-bottom">Forget Password?</span>
                    <form action="" method="POST">
                        {% csrf_token %}
                        <div class="input-group mb-3 px-4 opacity-75">
                            <span class="input-group-text rounded-start  border-end-0 border-dark"><i
                                    class="fas fa-envelope"></i></span>
                            {{form.email|add_class:"form-control form-control-lg rounded-end border-start-0 border-dark"|attr:"placeholder:User Email"}}
                        </div>
                        <span class="text-danger d-block mt-2">{{form.email.errors|striptags}}</span>
                        

                        <div class="d-grid px-4 pb-4">
                            <button type="submit" class="btn btn-lg bg-green text-light mt-1 rounded-1">Reset Account Password</button>
                            {% if request.GET.next %}
                            <input type="hidden" name="next" value="{{request.GET.next}}" />
                            {% endif %}
                        </div>

                    </form>
                    <a href="{% url 'login' %}"class="d-inline-block ms-4 text-decoration-none btn btn-sm btn-outline-success mb-3">Login Instead</a>
                    

                </div>
            </div>
        </div>
        <div class="col-1 col-md col-lg"></div>
    </div>
</div>


{% endblock content %}


<div class="border shdw1 rounded-3  lback">
    <span
        class="fw-bold p-2 rounded-top  p-4 py-3 text-black fw-bolder  opacity-50 d-block h4 border-bottom">Login
        to your account</span>
    <form method="POST" class="p-4">
        {% csrf_token %}

        <div class="input-group mb-3">
            <span class="input-group-text rounded-start  border-end-0 border-dark"><i
                    class="fas fa-envelope"></i></span>
            {{form.username|add_class:"form-control form-control-lg rounded-end border-start-0 border-dark"|attr:"placeholder:UserName"}}
        </div>
        <span class="text-danger d-block mt-2">{{form.username.errors|striptags}}</span>


        <div class="input-group mb-3">
            <span class="input-group-text rounded-start  border-end-0 border-dark"><i
                    class="fas fa-lock"></i></span>
            {{form.password|add_class:"form-control form-control-lg rounded-end border-start-0 border-dark"|attr:"placeholder:Password"}}
        </div>
        <span class="text-danger d-block mt-2">{{form.password.errors|striptags}}</span>

        <div class="d-grid">
            <button type="submit" class="btn bg-green text-light mt-1 shdw rounded shadow">Login</button>
            {% if request.GET.next %}
            <input type="hidden" name="next" value="{{request.GET.next}}" />
            {% endif %}
        </div>

        <a href=""class="d-inline-block text-decoration-none btn btn-sm btn-outline-success float-start mt-4 mb-4 rounded shadow">Sign Up</a>
        <a href="" class="d-inline-block text-decoration-none btn btn-sm btn-outline-secondary float-end mt-4 mb-4 rounded shadow">Forgot Password?</a>
    </form>

</div>