{% extends 'design.html' %}
{% load csswidgets %}
{% load static %}

{% block title %}
Set a New Password
{% endblock title %}
{% block content %}

<div class="container">
    <div class="row m-auto">
        <div class="col-1 col-md col-lg"></div>
        <div class="col-10 col-lg-8 p-0 my-5 bg-light">
            <div class="row rounded shdw3 m-0 lback4 bg-light imghidesm">
                <div class="col-5 p-0 rounded-start">
                    <!-- <img src="{% static 'assets/leaves.jpg' %}" class="img-fluid rounded-start" alt=""> -->
                </div>
                <div class="col-12 col-md-7 col-lg-7 align-self-center">
                    <span
                        class="fw-bold rounded-top text-black px-4 py-3 fw-bolder d-block h4 border-bottom">Forget Password?</span>
                        <form method="POST">
                            {% csrf_token %}
                        
                            <label class="ps-2 mb-2 fw-bold" for="">New Password</label>
                            <div class="input-group mb-3">                        
                                <span class="input-group-text rounded-start border-end-0 border-dark"><i
                                    class="fas fa-lock"></i></span>
                            {{form.new_password1|add_class:"form-control form-control-lg rounded-end border-start-0 border-dark"}}                        
                            </div> 
                            <span class="text-danger d-block mt-2">{{form.new_password1.errors|striptags}}</span>  
                        
                            <label class="ps-2 mb-2 fw-bold" for="">Confirm New Password</label>
                            <div class="input-group mb-3">                        
                                <span class="input-group-text rounded-start border-end-0 border-dark"><i
                                    class="fas fa-lock"></i></span>
                            {{form.new_password2|add_class:"form-control form-control-lg rounded-end border-start-0 border-dark"}}                        
                            </div> 
                            <span class="text-danger d-block mt-2">{{form.new_password2.errors|striptags}}</span>  
                               
                                <div class="d-grid">
                                    <button type="submit"
                                        class="btn btn-lg bg-green text-light mt-1 rounded-1">Set New Password</button>
                                
                                </div>
                            </form>
                    
                    

                </div>
            </div>
        </div>
        <div class="col-1 col-md col-lg"></div>
    </div>
</div>

{% endblock content %}
