{% autoescape off %}

<body style="background-color:#FFFFFF;font-family:Arial;">
    <div style="border:1px solid #999;border-radius:3px;margin:auto;padding:50px;max-width:600px;">       

        <p style="margin-top:10px;">Dear {{ mailto }},</p>

        <p style="margin-top:25px;">To reset your account password, please click on the link provided below.</p>

        <p style="margin-top:25px;"><a
                style="padding:10px; border-radius:3px;background-color:rgb(100,100,255);color:#FFF;text-decoration:none;font-weight:bold"
                href="http://{{ domain }}{% url 'vendor:createnewpassword' uidb64=uid token=token %}">Reset your
                password</a></a></p>

        <p style="margin-top:25px;">If the link above is not working for you, kindly copy and paste the code below in
            your brower to reset your account password:-</p>

        http://{{ domain }}{% url 'vendor:createnewpassword' uidb64=uid token=token %}

        <p style="margin-top:25px;">Hoping to see you soon once again on {{website}}.</p>

        <p style="margin-top:25px;">With best regards,<br />{{repname }}</p>

    </div>



    {% endautoescape %}