{% load static %}
    <div class="slider">
        <div><img src="{% static 'assets/offers/Offer1.jpg' %}" class="img-fluid w-100" alt=""></div>
        <div><img src="{% static 'assets/offers/Offer2.jpg' %}" class="img-fluid w-100" alt=""></div>
        <div><img src="{% static 'assets/offers/Offer3.jpg' %}" class="img-fluid w-100" alt=""></div>
        <div><img src="{% static 'assets/offers/Offer4.jpg' %}" class="img-fluid w-100" alt=""></div>
        <div><img src="{% static 'assets/offers/Offer5.jpg' %}" class="img-fluid w-100" alt=""></div>        
    </div>

