{% load static %}
<p class="text-center h1 p-3">What Our Customers Say</p>
<hr/>

<div class="slider2" style="background:none;display:block;">
    
    <div class="p-2" >
        <div class="row">
            <div class="col p-4 text-black rounded d-flex ms-5 me-1 my-0 border bg-lsilver">
                <div class="row">
                    <div class="col-12 col-lg-8">
                        <span class="float-start d-block align-self-center m-2 txt-justify">The quality is excellent I received free shipping. It's well worth the money for their high quality products.
                             HIGHLY RECOMMEND!!!!.
                            <h6 class="text-end fs-5">Radha</h6>
                        </span>
                    </div>
                    <div class="col-12 col-lg-3">
                        <img src="{% static 'assets/testimonials/1.jpg' %}" class="float-end rounded-circle img-fluid img-thumbnail shdw2"
                            width="150px" alt="">
                    </div>
                </div>
            </div>
            <div class="col  p-4 text-black rounded d-flex me-5 border bg-lsilver">
                <div class="row">
                    <div class="col-12 col-lg-8">
                        <span class="float-start d-block align-self-center m-2 txt-justify">Plants with good service, good health and price, 
                              one of the best gardening website.



                            <h6 class="text-end fs-5">Khushhal Aggarwal</h6>
                        </span>
                    </div>
                    <div class="col-12 col-lg-3">
                        <img src="{% static 'assets/testimonials/2.jpg' %}" class="float-end rounded-circle img-fluid img-thumbnail shdw2"
                            width="150px" alt="">
                    </div>
                </div>
            </div>
        </div>

    </div>
    

    <div class="p-2">
        <div class="row">
            <div class="col  p-4 text-black rounded d-flex ms-5 me-1 border bg-lsilver">
                <div class="row">
                    <div class="col-12 col-lg-9">
                        <span class="float-start d-block align-self-center m-2 txt-justify">Personally i am satisfied with flora including service provided by podhewale, i would recommend to visit site and make order.
                            <h6 class="text-end fs-5">Sahil Verma</h6>
                        </span>
                    </div>
                    <div class="col-12 col-lg-3">
                        <img src="{% static 'assets/testimonials/3.jpg' %}" class="float-end rounded-circle img-fluid img-thumbnail shdw2"
                            width="150px" alt="">
                    </div>
                </div>
            </div>
            <div class="col p-4 text-black rounded d-flex me-5 border bg-lsilver">
                <div class="row">
                    <div class="col-12 col-lg-9">
                        <span class="float-start d-block align-self-center m-2 txt-justify">Best healthy plants in very cheap price.
                            <h6 class="text-end fs-5">Dinesh Rathore</h6>
                        </span>
                    </div>
                    <div class="col-12 col-lg-3">
                        <img src="{% static 'assets/testimonials/4.jpg' %}" class="float-end rounded-circle img-fluid img-thumbnail shdw2"
                            width="150px" alt="">
                    </div>
                </div>
            </div>
        </div>

    </div>

</div>